/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.azeret-mono-<uniquifier> {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
/* shared style */
.btn-primary{
    font-size: 16;
    font-family:Azeret Mono;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #0D1321;
    padding: 24px 21px;
    border-radius: 8px;
}
  .primary-color{
    
    color: #0D1321;
  }
  
/* banner-section style */
.banner-section{
    width: 1440px;
    height: 652px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 2px solid red;
    background-image: url(../images/Hero-bg.png);
}
.banner-container{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    margin: 26px 221px 44px;
    border: 2px solid red;
}
.banner-image{
    width: 240.28;
    height: 240px;
}
.banner-title{
    font-size: 48px;
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 68px;
}
.banner-description{
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 73px;

}

/* develop-section style */
.develop-section{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    border: 2px solid red;
}
.develop-container{
    max-width: 946px;
    height: 1180px;
    margin: 0 auto;
    margin: 84px 117px 183px;
    border: 2px solid red;
}
.dev{
    /* width: 946px; */
    height: 115px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 2px solid red;
    flex-direction: column;
    margin: 0 auto;
}
.dev-title{
    font-size: 32px;
    font-weight: 800;
    font-family: Azeret Mono;
    margin-bottom: 24px;

}
.dev-description{
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
}
.all-blog-item{
    width: 903px;
    height: 1072px;
    border: 2px solid red;
  
}
.blog-1{
    width: 903px;
    height: 336px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 98px;
    border: 2px solid red; 
}
.blog-1-content,.blog-1-img{
    margin: 54px 34px;
}
.blog-1-h3{
    font-size: 24px;
    font-family: Azeret Mono;
    font-weight: 800;
    line-height: 36px;
}
.btn-blog{
    font-size: 16;
    font-family:Azeret Mono;
    font-weight: 400;
    color: #0D1321;
    padding: 12px 20px;
    border-radius: 4px;
    margin-top: 12px;
}
.gap{
    margin-left: -68px;
}

/* inspiration style */
.inspiration-section{
    width: 1140px;
    height: 572px;
    margin: 0 auto;
    border: 2px solid red;
}

.inspiration-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: 2px solid red;
    flex-direction: column;
    margin: 0 auto;

}
.ins-title{
    font-size: 32px;
    font-weight: 800;
    font-family: Azeret Mono;
    margin-bottom: 24px;
}
.ins-description{
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}
.video-space{
    width: 1140px;
    border: 2px solid red;
}
iframe{
    border-radius: 16px;
    width: 1100px;
}
/* target style */
.target-items{
    display: flex;
    justify-content:space-evenly;
    text-align: left;
    gap: 24px;
    padding: 10px 20px;
}

.target-skill{
    padding: 40px;
    border-radius: 16px;
    border: 2px solid red;
}
.target-title-2{
    font-size: 24px;
    font-weight: 600;
    font-family: Azeret Mono;
    line-height: 16px;
}
.targer-descrip-2{
    font-size: 16px;
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
}
.btn-learn{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-bottom: 2px solid #0D1321;
}
.support-section{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 4px 4px;
    background-image: url(../images/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.support-container{
    width: 1044px;
    height: 186px;
    margin: 0 auto;
    margin: 64px 48px;
    text-align: center;
    border: 2px solid red;
}
.support-title, .support-description{
    color: #ffffff;
}
.support-container input{
    width: 500px;
    height: 16px;
    padding: 21px 22px;
    border-radius: 8px;
    border: none;
    border-color: #FFFFFF;
}
.support-container .btn-submit{
    width: 120px;
    height: 58px;
    padding: 21px 22px;
    font-size: 13px;
    font-weight: 700;
    font-family: Azeret Mono;
    border-radius: 8px;
}
 
